.ExploreMap {
    height: 83vh;
    margin-top: 0.5em;
}

.control-panel {
    font-family: "UberMove";
    font-size: 14px;
    line-height: 18px;
    width: 284px;
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    margin: 24px;
    padding: 12px 24px;
    position: absolute;
    top: 60px;
    right: 0;
    outline: none;
    cursor: auto;
}